@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  scroll-behavior: smooth;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.carousel-manuel {
  display: flex;
  overflow-x: scroll;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
}

/* custom carousel scrollbar */
.carousel-manuel::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 7px;
  background-color: rgb(201, 198, 192);
}

.carousel-manuel::-webkit-scrollbar {
  border-radius: 7px;
  width: 7px;
  height: 7px;
  background-color: rgb(150, 148, 144);
}

.carousel-manuel::-webkit-scrollbar-thumb {
  border-radius: 7px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgb(63, 61, 61);
}

@media (max-width: 640px) {
  .carousel-manuel::-webkit-scrollbar {
    display: none;
  }
}

/* firefox scrollbar */
.carousel-manuel {
  scrollbar-color: rgb(63, 61, 61) rgb(201, 198, 192) !important;
  scrollbar-width: thin;
}
/* firefox scrollbar */

/* custom carousel scrollbar */
.prose ul {
  list-style-type: none;
}

.prose ul > li::before {
  content: "";
  background-color: transparent;
}

.prose ul > li {
  padding-left: 0;
}

.prose-lg ul > li {
  padding-left: 0;
}

/* button border bottom hover effect */

.btn-border {
  display: inline-block;
  margin: 0;
}
.btn-border:after {
  display: block;
  content: "";
  border-bottom: solid 3px #ffb338;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.btn-border:hover:after {
  transform: scaleX(1);
}

.btn-border-constant {
  display: inline-block;
  margin: 0;
}

.btn-border-constant:after {
  display: block;
  content: "";
  border-bottom: solid 3px #ffb338;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.btn-border-constant:after {
  transform: scaleX(1);
}

/* button border bottom hover effect */

/* keen-slider */

.keen-slider {
  display: flex;
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.keen-slider__slide {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 100%;
}
.keen-slider[data-keen-slider-v] {
  flex-wrap: wrap;
}
.keen-slider[data-keen-slider-v] .keen-slider__slide {
  width: 100%;
}
.keen-slider[data-keen-slider-moves] * {
  pointer-events: none;
}

/* keen-slider */

/* product qty input */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"] {
  text-align: center;
}

input[type="number"]:focus-visible {
  outline: none;
}

/* product qty input */
