@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  scroll-behavior: smooth;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  @apply mt-auto;
}

.carousel-manuel {
  display: flex;
  overflow-x: scroll;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
}

/* custom carousel scrollbar */
.carousel-manuel::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 7px;
  background-color: rgb(201, 198, 192);
}

.carousel-manuel::-webkit-scrollbar {
  border-radius: 7px;
  width: 7px;
  height: 7px;
  background-color: rgb(150, 148, 144);
}

.carousel-manuel::-webkit-scrollbar-thumb {
  border-radius: 7px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgb(63, 61, 61);
}

@media (max-width: 640px) {
  .carousel-manuel::-webkit-scrollbar {
    display: none;
  }
}

/* firefox scrollbar */
.carousel-manuel {
  scrollbar-color: rgb(63, 61, 61) rgb(201, 198, 192) !important;
  scrollbar-width: thin;
}
/* firefox scrollbar */

/* custom carousel scrollbar */

/* prose custom */

.prose-sm ul > li {
  padding-left: 0;
}

.prose-sm ul > li::before {
  background-color: transparent;
  height: 0;
  width: 0;
  top: 0;
  left: 0;
}
/* prose custom */

/* button border bottom hover effect */

.btn-border {
  display: inline-block;
  margin: 0;
}
.btn-border:after {
  display: block;
  content: "";
  border-bottom: solid 3px #ffb338;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.btn-border:hover:after {
  transform: scaleX(1);
}

.btn-border-constant {
  display: inline-block;
  margin: 0;
}

.btn-border-constant:after {
  display: block;
  content: "";
  border-bottom: solid 3px #ffb338;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.btn-border-constant:after {
  transform: scaleX(1);
}

/* button border bottom hover effect */

/* keen-slider */

.keen-slider {
  display: flex;
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.keen-slider__slide {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 100%;
}
.keen-slider[data-keen-slider-v] {
  flex-wrap: wrap;
}
.keen-slider[data-keen-slider-v] .keen-slider__slide {
  width: 100%;
}
.keen-slider[data-keen-slider-moves] * {
  pointer-events: none;
}

/* keen-slider */

/* product qty input */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"] {
  text-align: center;
}

input[type="number"]:focus-visible {
  outline: none;
}

/* product qty input */

.indicator-custom {
  z-index: 1;
  position: absolute;
  --tw-translate-x: 0;
  --tw-translate-x: 50%;
  --tw-translate-y: 0;
  --tw-translate-y: -50%;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  top: 13px;
  right: 6px;
  bottom: auto;
  left: auto;
}

.badge-custom-color {
  --tw-bg-opacity: 1;
  background-color: #ef0404;
  --tw-border-opacity: 1;
  border-color: #ef0404;
  --tw-text-opacity: 1;
  color: #fff;
}

.card-body {
  @apply p-0;
}

.breadcrumbs > ul > li + :before {
  background-color: transparent;
  opacity: 0;
}

button,
.button {
  color: var(--custom-color);
  border: var(--custom-border);
  background-color: var(--custom-bg-color);
  text-align: center;
  border-radius: var(--custom-border-radius);
  padding: 0.5rem 1rem;
  cursor: pointer;
  text-align: center;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.custom-card {
  @apply flex flex-col flex-1 p-8;
}

/* debit card */

.form-radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  display: inline-block;
  vertical-align: middle;
  background-origin: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  flex-shrink: 0;
  border-radius: 100%;
  border-width: 2px;
}

.form-radio:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

@media not print {
  .form-radio::-ms-check {
    border-width: 1px;
    color: transparent;
    background: inherit;
    border-color: inherit;
    border-radius: inherit;
  }
}

.form-radio:focus {
  outline: none;
}

.form-select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23a0aec0'%3e%3cpath d='M15.3 9.3a1 1 0 0 1 1.4 1.4l-4 4a1 1 0 0 1-1.4 0l-4-4a1 1 0 0 1 1.4-1.4l3.3 3.29 3.3-3.3z'/%3e%3c/svg%3e");
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  background-repeat: no-repeat;
  padding-top: 0.5rem;
  padding-right: 2.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  background-position: right 0.5rem center;
  background-size: 1.5em 1.5em;
}

.form-select::-ms-expand {
  color: #a0aec0;
  border: none;
}

@media not print {
  .form-select::-ms-expand {
    display: none;
  }
}

@media print and (-ms-high-contrast: active),
  print and (-ms-high-contrast: none) {
  .form-select {
    padding-right: 0.75rem;
  }
}

/* debit card */

/* custom prose */

.prose-sm ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* custom prose */